<h1>Topics</h1>
 
<div class="row">
    <div class="col-md-8">
        <!-- We use partials to render each topic in @topics. -->
        <% @topics.each do |topic| %>
            <%= render partial: 'topic', locals: { topic: topic } %>
        <% end %>    
    </div>
    <div class="col-md-4">
        <!-- We create a link to create a new topic. -->
        <!-- We check if there is a signed-in current_user, and that current_user is an admin. -->
        <% if user_is_authorized_for_topics? %>
            <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
        <% end %>    
    </div>
</div>