// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
    color: blue;
    width: 100px;
    height: 30px;
    text-align: center;
}